---
import Layout from '../layouts/Layout.astro';
import FirstSection from '../sections/FirstSection.astro';
import ApiCall from '../sections/ApiCall.astro';
import PlayerWithAds from '../sections/PlayerWithAds.astro';
import SDKApp from '../sections/SDKApp.astro';
import RealCase from '../sections/RealCase.astro';
import SecondRealCase from '../sections/SecondRealCase.astro';
import Lightbox from '../sections/Lightbox.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<FirstSection />
		<ApiCall />
		<PlayerWithAds />
		<SDKApp />
		<Lightbox />
		<RealCase />
		<SecondRealCase />
	</main>
</Layout>
