---
import Layout from '../layouts/Layout.astro';
import FirstSection from '../sections/FirstSection.astro';
import ApiCall from '../sections/ApiCall.astro';
import PlayerWithAds from '../sections/PlayerWithAds.astro';
import SDKApp from '../sections/SDKApp.astro';
import RealCase from '../sections/RealCase.astro';
import SecondRealCase from '../sections/SecondRealCase.astro';
import Lightbox from '../sections/Lightbox.astro';
import CodeSamples from '../sections/CodeSamples.astro';
import CreateVideo from '../sections/createVideo.astro';
---

<Layout title="Erick Beltran Assessment">
	<main>
		<FirstSection />
		<ApiCall />
		<PlayerWithAds />
		<SDKApp />
		<CreateVideo />
		<CodeSamples />
		<Lightbox />
		<RealCase />
		<SecondRealCase />

		<h3>Si llegaste hasta aca ya sabes como utilizar algunas herramientas de Brightcove</h3>
	</main>
</Layout>
