<section>
  <h2 class="text-sky-400 font-bold text-xl">6. IMPLEMENTACION DE 2 FEATURES DE BRIGHTCOVE</h2>

  <p>
    Como primera implementacion tome la de 'Are You Still Watching?' ya que me parecio interesante, una vez viendo la documentacion de esta implementacion
    me percate que era muy sencilla de utilizar, solo es necesario traernos la libreria y pasarle como parametro el tiempo en el que queremos
    que salga el mensaje y se pause el video.
  </p>

  <img src="static/custom.png" />

  <p>
    Para la segunda implementacion me gusto la idea de poder cambiar de video asi que implemente el 'Dynamically Change Source Videos' que solo necesitamos
    un boton que ejecute una funcion a la que se le pasa como parametro el id del video que queremos que se cargue ahora y asi el reproductor reproduce el nuevo video
  </p>

  <img src="static/custom.png" />

  <p>
    Este es el link del playground
    <a class="text-blue-600 visited:text-purple-600 ..." target="_blank" href="https://jsfiddle.net/edelblk/1ka3fjd9/32/" >PLAYGROUND</a>

  </p>
</section>