<section>
  <h2 class="font-bold text-xl">5. SUBIR VIDEO</h2>

  <p>
    Primero realize una peticion para crear un video, a la cual solo es necesario pasarle el nombre del video a subir en el body, ademas del
    token que necesitamos, una vez realizada la peticion obtuve esta respuesta 201 de creado.
  </p>

  <img src="static/create-video.png" />

  <p>
    Este servicio nos regreso el id del video que lo necesitamos para el siguiente servicio en el cual enviaremos como tal el url en el que el video
    se encuentra, en este caso tome un video que tengo en una cuenta en la nube, y arme el request en postman, al enviar la peticion nos regreso el id,
    dando a entender que el request fue exitoso.
  </p>

  <img src="static/create-video-2.png" />

  <p>
    Para comprobar que se subiera podemos ir al apartado de media en donde efectivamente podemos ver el titulo que pusimos en el primer servicio,
    ademas de tener el id '6350963360112' que fue el que nos retorno el primer servicio.
  </p>

  <img src="static/create-video-3.png" />
</section>