<section>
  <h2 class="text-sky-400 font-bold text-xl">3. PLAYER WITH ADS</h2>

  <p>
    Para esta actividad es necesario crear un reproductor con anuncios, primero fue configurar el reproductor que tendria el anuncio,
    para ello cree otro reproductor y asi no afectar el que se utilizaba en la primera parte, ya dentro de las configuraciones del reproductor
    es facil poner el anuncio que se desea solo se habilita el Client-Side tag y ponemos el tag del anuncio, aqui hay un ejemplo de como quedo,
    cada vez que se va a reproducir el video se carga el anuncio.
  </p>

  <img src="/static/ad-player.png" />
</section>